<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Pro Users</title>
  </head>
  <body style="background-color: lightgreen; text-align: center;">
    <h4>This page is for pro users</h4><br><br>

    <h3>Welcome pro users!</h3><br><br>
    <a href="/logout"><button>Logout</button></a>

  </body>