<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Form</title>
  </head>
  <body>
	     <h1>Welcome, please updgrade to the premium membership</h1><br><br>

	     
         <button id="rzp-button1">Pay</button>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
    var options = {
        "key": 'rzp_test_Ig2EoT8zFrxKew', // Enter the Key ID generated from the Dashboard
        "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Quicqo",
        "description": "Test Transaction",
        //"order_id": order.id,
        "callback_url": "/isSuccess", //we have to define a function for this callback in the backend
        "prefill": {
            "name": "someone",
            "email": "someone@gmail.com",
            "contact": "9009009000"
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    
    
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>

    <br><br>
    <a href="/logout"><button>Logout</button></a>


  </body>
</html>