<!DOCTYPE html>
<html lang="en">
  <head>
	<title>Registered</title>
  </head>
  <body style="text-align: center;">
	<h3>Welcome new user, you are registered</h3><br><br>

    <h4>Please Login again</h4><br><br>
    <a href="/login"><button>Login</button></a>
  </body>
</html>